<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <h1>Main page</h1>

    <form id="mainForm">

        <input id="name" placeholder="name" type="text" minlength="1">

        <button type="submit">ok</button>


    </form>


    <script>

        document.getElementById('mainForm').addEventListener('submit',(e)=>{
            e.preventDefault()
            const name = document.getElementById('name').value
            
            fetch('/myName',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({name})
            })
        })


    </script>
</body>
</html>